        <!-- Footer start -->
        <footer class="flex flex-col lg:flex-row justify-around bg-black p-10 text-white">
            <div class="w-full lg:w-1/2 lg:pr-10">
              <h6>Adres:</h6>
              <p>Budakdüzü, 74110 Bartın Merkez/Bartın</p>
              <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d2737.709143852786!2d32.338336265576906!3d41.55856845766327!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2str!4v1681258784265!5m2!1sen!2str" width="230" height="130" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
            <div class="w-full lg:w-1/2 lg:pl-10">
              <h5>Mustafa Kanat</h5>
              <p>WEB DEVELOPER</p>
              <h6>Telefon No:</h6>
              <p>0506 950 0768</p>
              <h6>Email:</h6>
              <p>mkanat6620@gmail.com</p>
              <div class="">
                <a href="https://www.facebook.com/" target="_blank"><i class="fa-brands fa-square-facebook"></i></a>
                <a href="https://twitter.com/" target="_blank"><i class="fa-brands fa-square-twitter"></i></a>
                <a href="https://mail.google.com/" target="_blank"><i class="fa-solid fa-square-envelope"></i></a>
                <a href="https://github.com/kaminsski" target="_blank"><i class="fa-brands fa-square-github"></i></a>
                <a href="https://www.linkedin.com/in/mustafa-kanat-789198235/" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
              </div>
            </div>
          </footer>
          
        <!-- Footer end -->
